doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  body
    //- img(src="./images/logo.svg", alt="" width="200px")
    //- h1= message
    //- h1 nội dung thẻ h1
    //- h2 nội dung thẻ h2 
    //- p nội dung thẻ p 
    //- img
    //- ul 
    //-   li item 1
    //-   li item 2
    //-   li item 3

  //- table 
  //-   thead
  //-     tr 
  //-       th STT 
  //-       th Họ tên 
  //-       th Số điện thoại 
  //-   tbody 
  //-     tr 
  //-       td 1 
  //-       td Nguyễn Văn A 
  //-       td 1234456565
  //-     tr 
  //-       td 1 
  //-       td Nguyễn Văn A 
  //-       td 1234456565

  //- - var fullName = "Nguyen Quoc"
  //- - var email = "quoc@gmail.com"

  //- div(class="info-user")
  //-   p= fullName 
  //-   p= email
  
  //- div(class="info-user")
  //-   p xin chao #{fullName} 
  //-   p xin chao #{email}
        
  //- button(class="btn btn-success") Click Me!
  //- - var htmlLink = "<a href='https://daca.vn'>daca.vn</a>"
  //- div(class="link")
  //- p #{htmlLink}
  //- p !{htmlLink}
  //- - 
  //-   var infoUser = {
  //-     fullName: "Nguyen Quoc",
  //-     email: "quoc@gmail.com"
  //-   }

  //- p Họ và tên: #{infoUser.fullName}
  //- p email: #{infoUser.email}

  //- if(infoUser.phone)
  //-   p Số điện thoại: #{infoUser.phone}
  //- else 
  //-   p Số điện thoại: chưa có

  //- p Số điện thoại: #{infoUser.phone ? infoUser.phone : "chưa có"}

  //- - var statusAccount = "initial"

  //- case statusAccount 
  //-   when "initial"
  //-     p chờ duyệt 
  //-   when "active"
  //-     p đang hoạt động
  //-   when "inactive"
  //-     p đang bị khóa
  //-   default 
  //-     p không có

  //- -
  //-   var listUser = [
  //-     "Le Van A",
  //-     "Nguyen Thi B",
  //-     "Do Van C"
  //-   ]

  //- ul 
  //-   each item, index in listUser 
  //-     li #{index + 1}. #{item}
  
  //- ul 
  //- - for(let i = 0; i < 10; i++)
  //-   li #{i}

  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  script(src="/js/script.js") 