extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  .container.my-3 
    include ../../partials/list-btn-user.pug

    .row 
      .col-12 
        +box-head("Lời mời kết bạn")

    .row 
      each user in users 
        .col-6 
          div(class="box-user")
            div(class="inner-avatar")
              img(
                src=(user.avatar ? user.avatar : "/images/avatar.png")
                alt=user.fullName
              )
            div(class="inner-info")
              div(class="inner-name") #{user.fullName}
              div(class="inner-buttons") 
                button(
                  class="btn btn-sm btn-primary"
                  style="margin-right: 10px"
                  btn-accept-friend=user.id
                ) Chấp nhận
                button(
                  class="btn btn-sm btn-secondary"
                  style="margin-right: 10px"
                  btn-refuse-friend=user.id
                ) Xóa
                button(
                  class="btn btn-sm btn-secondary"
                  btn-deleted-friend=user.id
                  disabled
                ) Đã xóa
                button(
                  class="btn btn-sm btn-primary"
                  btn-accepted-friend=user.id
                  disabled
                ) Đã chấp nhận

  block script 
    script(type="module" src="/js/user.js")
